* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(bc.jpg);
  background-size: cover;
}
.calcOve {
  margin-top: 10rem;
  border: 0.3rem black solid;
  border-radius: 3%;
  height: 21.5rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
}
.calcMon {
  width: 80%;
  min-width: 80%;
  height: 3rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.3rem black solid;
  background-color: rgb(63, 62, 62);
  font-weight: bold;
  font-size: 200%;
  text-align: right;
  color: white;
}
.calcTab {
  margin: auto;
  margin-top: 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.calcBut {
  height: 3rem;
  width: 3rem;
  border: 0.15rem black solid;
  background-color: rgb(95, 92, 92);
}
.calcBut:nth-of-type(16) {
  width: 9rem;
}
.calcBut:nth-last-of-type(1) {
  background-color: greenyellow;
}
.calcBut:nth-last-of-type(14) {
  background-color: crimson;
}
